$font-forum: 'Forum', serif;
$font-inter: 'Inter', sans-serif;
$bg-black: #0c0c0e;
$bg-white: white;
$text-mild-black: #0c0c0e;
$text-white: white;
$text-black: #000;
$active-brown: #bb945f;
$form-placeholder: #8e8e8e;

*,
h1 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #0c0c0e;
}

.container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  background-color: $bg-black;

  &__container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 20px;
  }

  &__title {
    color: $text-white;
    font-size: 3rem;
    font-family: $font-forum;
    font-weight: 400;
    line-height: 5rem;
    letter-spacing: 0.06rem;
  }
}

.nav__list {
  display: flex;
  gap: 30px;

  &-link {
    color: $text-white;
    font-size: 2rem;
    font-family: $font-inter;
    font-weight: 400;
    line-height: 5rem;
    transition: ease-in-out 0.4s;
    &:hover {
      color: $active-brown;
      text-decoration: underline;
      text-underline-offset: 5px;
    }
  }
}

.welcome {
  position: relative;
  height: 600px;
  background: linear-gradient(
      180deg,
      #0c0c0e 0%,
      #0c0c0e 0.01%,
      rgba(18, 18, 21, 0.1) 100%
    ),
    url('./assets/welcome-bg.png') no-repeat center center;

  &__title {
    box-sizing: content-box;
    position: absolute;
    top: 220px;
    left: 240px;
    width: 520px;
    color: $text-white;
    padding: 35px 40px;
    text-align: center;
    background-color: $bg-black;
    font-size: 4rem;
    font-family: $font-forum;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 5rem;
    letter-spacing: 0.3rem;
  }
}

.about {
  background-color: $bg-white;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__description {
    color: $text-black;

    text-align: center;
    font-family: $font-inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 4rem;
    margin-bottom: 20px;
  }
  &__gallery {
    display: flex;
    gap: 25px;
    margin-bottom: 35px;
  }

  &__carousel {
    display: flex;
    margin-bottom: 35px;

    &-btn {
      width: 16px;
      height: 16px;
      background-color: $bg-black;
      border-radius: 50px;
      &_active {
        background-color: $active-brown;
      }
    }
  }
}

.btn-wrapper {
  padding: 5px;
  cursor: pointer;
}

.title {
  position: relative;
  background-color: $bg-white;
  padding-top: 20px;
  color: $bg-black;
  font-family: $font-forum;
  font-weight: 400;
  font-size: 4rem;
  font-weight: 400;
  line-height: 4rem;
  letter-spacing: 0.2rem;
  margin-bottom: 60px;

  &::after {
    content: '';
    position: absolute;
    bottom: -20px;
    border-bottom: 1px solid $bg-black;
    width: 50px;
    left: 50%;
    transform: translate(-50%);
  }
}

.favorites {
  background-color: $bg-white;
  &__title {
    text-align: center;
  }
  &__description {
    color: $text-black;
    font-family: $font-inter;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 45px;
  }
  &__card-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 260px;
    // margin-bottom: 60px;
  }
}

.picker {
  display: flex;
  gap: 93px;
  margin-bottom: 40px;

  &__wrapper {
    display: flex;
    gap: 20px;
  }

  &__label {
    color: $text-black;
    font-family: $font-inter;
    font-size: 2rem;
    margin-top: -2px;
  }
  &__input {
    appearance: none;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    border: 2px solid #000;
    position: relative;
  }
  &__input::after {
    content: '';
    display: none;
    position: absolute;
    width: 7px;
    height: 7px;
    top: 3px;
    left: 3px;
    border-radius: 50%;
    background-color: $text-black;
  }
  &__input:checked + &__label {
    font-weight: 700;
    letter-spacing: -0.07rem;
  }
  &__input:checked::after {
    display: block;
    accent-color: $text-black;
  }
}

.card {
  position: relative;
  width: 550px;
  height: 555px;
  border: 1px solid $text-black;
  padding: 15px 175px 15px 20px;
  &__staff {
    position: relative;
    color: $text-black;
    font-family: $font-forum;
    font-size: 2rem;
    line-height: 4rem;
    letter-spacing: 0.2rem;
    margin-bottom: 20px;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      border-bottom: 1px solid $active-brown;
      width: 60px;
    }
  }
  &__title {
    color: $text-black;
    font-family: $font-inter;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 4rem;
    letter-spacing: 0.19rem;
    text-transform: uppercase;
    &-author {
      text-transform: capitalize;
      margin-bottom: 20px;
    }
  }
  &__description {
    width: 355px;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 4rem;
    letter-spacing: 0.2rem;
    text-transform: capitalize;
    margin-bottom: 15px;
  }
  &__img {
    position: absolute;
    bottom: -1px;
    right: -40px;
  }
  &__btn {
    position: absolute;
    bottom: 13px;
    left: 20px;
    background: none;
    color: $bg-black;
    font-family: $font-inter;
    font-size: 1rem;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.1rem;
    padding: 8px 27px;
    border-radius: 2px;
    border: 1px solid $text-mild-black;
    cursor: inherit;
    transition: ease-in 0.15s;
    &_disabled {
      color: $active-brown;
      border-color: $active-brown;
      pointer-events: none;
    }

    &:hover {
      background-color: $active-brown;
      border-color: $active-brown;
    }
    &-wrapper {
      padding: 5px;
      cursor: pointer;
      width: 90px;
    }
  }
}

.coffeeshop {
  background-color: $bg-white;
  &__title {
    padding-top: 60px;
    text-align: center;
    margin-bottom: 60px;
  }
  &__description {
    color: $text-black;
    text-align: center;
    font-family: $font-inter;
    font-size: 2rem;
    line-height: 4rem;
    letter-spacing: 0.2rem;
    margin-bottom: 20px;
  }
}

.price {
  &-wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    color: $active-brown;
    margin-bottom: 40px;
    &::after {
      display: none;
    }
  }

  &__list-right {
    text-align: end;
  }
  &__title-right {
    text-align: end;
  }

  &__list-item {
    display: flex;
    align-items: center;
    gap: 60px;
    margin-bottom: 40px;
    text-wrap: nowrap;
  }
  &__list-title {
    width: 199px;
    color: $text-black;
    font-family: $font-inter;
    font-size: 2rem;
    line-height: 4rem;
    letter-spacing: 0.2rem;
    text-transform: capitalize;
  }
  &__list-line {
    display: inline-block;
    width: 100px;
    height: 1px;
    background-color: $active-brown;
  }
  &__list-price {
    color: #000;
    font-family: $font-forum;
    font-size: 2rem;
    line-height: 4rem;
    letter-spacing: 0.2rem;
    text-transform: capitalize;
  }
}

.contacts {
  background-color: $bg-white;
  &__title {
    text-align: center;
    &::after {
      content: '';
      position: absolute;
      bottom: -20px;
      border-bottom: 1px solid $bg-black;
      width: 50px;
      left: 50%;
      transform: translate(-50%);
    }
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__subtitle {
    color: $text-black;
    font-family: $font-inter;
    font-size: 2rem;
    font-weight: 700;
    line-height: 4rem;
    letter-spacing: 0.2rem;
    margin-bottom: 40px;
    text-transform: capitalize;
  }
  &__description {
    color: $text-black;
    font-family: $font-inter;
    font-size: 2rem;
    font-weight: 400;
    line-height: 4rem;
    letter-spacing: 0.2rem;
    margin-bottom: 20px;
    text-transform: capitalize;
    a {
      color: inherit;
    }
  }
  &__staff-subtitle {
    margin-top: 40px;
    margin-bottom: 20px;
  }
}

.libcard {
  background-color: $bg-white;
  padding-top: 60px;
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    text-align: center;
    &::after {
      content: '';
      position: absolute;
      bottom: -20px;
      border-bottom: 1px solid $bg-black;
      width: 50px;
      left: 50%;
      transform: translate(-50%);
    }
  }
  &__signup {
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: flex-end;
    &-title {
      color: $text-black;
      text-align: center;
      font-family: $font-forum;
      font-weight: 400;
      font-size: 3rem;
      font-style: normal;
      line-height: normal;
      letter-spacing: 0.06rem;
    }
    &-description {
      color: $text-black;
      font-family: $font-inter;
      font-size: 2rem;
      font-style: normal;
      line-height: 4rem;
      letter-spacing: 0.04rem;
      text-align: right;
      max-width: 456px;
    }
    &-btns {
      display: flex;
      gap: 20px;
    }
    &-btn {
      color: $text-mild-black;
      font-family: $font-inter;
      font-size: 1rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.1rem;
      background-color: $bg-white;
      padding: 9px 15px;
      border-radius: 2px;
      border: 1px solid $bg-black;
      transition: ease-in 0.15s;
      &:hover {
        background-color: $active-brown;
        border-color: $active-brown;
      }
    }
  }
}

.finder {
  &__title {
    text-align: center;
    color: $text-black;
    font-family: $font-inter;
    font-size: 3rem;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.06rem;
    margin-bottom: 30px;
  }
  &__form {
    display: flex;
    flex-direction: column;
    border: 3px solid $active-brown;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 41px;
    &-wrapper {
      display: flex;
      flex-direction: column;
      background-color: $active-brown;
      padding: 20px 20px 0 20px;
      margin: 20px 20px 20px 20px;
    }
  }
  &__label {
    color: $text-black;
    font-family: Forum;
    font-size: 3rem;
    line-height: 5rem;
    letter-spacing: 0.06rem;
    margin-bottom: 20px;
  }
  &__input {
    color: $active-brown;
    font-family: $font-forum;
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 5rem;
    letter-spacing: 0.06rem;
    padding: 8px 0 8px 20px;
    margin-bottom: 25px;
    width: 520px;
    height: 66px;
    border-radius: 10px;
    border-color: transparent;
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: $form-placeholder;
      font-family: $font-forum;
      font-size: 3rem;
      font-weight: 400;
      line-height: 5rem;
      letter-spacing: 0.06rem;
    }
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
  &__submit {
    background-color: $bg-white;
    color: $bg-black;
    font-family: $font-inter;
    font-size: 2rem;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.1rem;
    display: inline-block;
    width: fit-content;
    align-self: center;
    padding: 10px 40px;
    cursor: pointer;
    margin-bottom: 30px;
    transition: ease-in 0.15s;
    &:hover {
      background-color: $active-brown;
      border-color: $active-brown;
    }
  }
}

.footer {
  margin-top: 20px;
  color: $text-white;
  &__contacts {
    display: flex;
    justify-content: space-between;
    color: $text-white;
    font-family: $font-inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
    &-address {
      width: 229px;
      display: inline-block;
      color: white;
      margin-bottom: 18px;
    }
    &-links {
      margin-bottom: 15px;
    }
    &-link {
      margin-right: 15px;
      &:hover path {
        fill: $active-brown;
      }
    }
    &-schedule__description {
      text-align: right;
      margin-bottom: 10px;
    }
  }
  &__line {
    margin-bottom: 45px;
  }
  &__school {
    display: flex;
    justify-content: space-between;
    color: $text-white;
    font-family: $font-inter;
    font-size: 2rem;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: 0.2rem;
    margin-bottom: 45px;
    &-link {
      color: $text-white;
      transition: ease-in 0.15s;
      &:hover {
        color: $active-brown;
      }
    }
  }
}
